apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: kafka-pdb
  namespace: aikernel-kafka
  labels:
    app: kafka
    component: messaging
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: kafka
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: zookeeper-pdb
  namespace: aikernel-kafka
  labels:
    app: zookeeper
    component: messaging
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: zookeeper
